<div class="row text-center text-white bg-secondary bg-gradient">
    <h2>{{author?.author}}</h2>
    <div class="d-flex justify-content-center position-relative">
        <p class="pe-2">Place of Birth: {{author?.birthPlace}},</p>
        <p>Birthday: {{author?.birthday}}</p>
    </div>
    <div class="col text-end ">
        <!-- <button type="button" class="btn btn-outline-transparent text-white" ngbTooltip="Add a book" tooltipClass="modify-book">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            Add
        </button> -->
        <div ngbDropdown class="d-inline-block px-2">
            <button type="button" class="btn btn-outline-transparent text-white" ngbDropdownToggle>Sort By</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button ngbDropdownItem (click)="sortBook.emit('title')">Title</button>
                <button ngbDropdownItem (click)="sortBook.emit('publish')">Publish Year</button>
            </div>
        </div>
    </div>
</div>